/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
@layer components {
	@screen lg {
		.navbar-nav {
			> li {
				&:hover,
				&.current-menu-item {
					> a {
						@apply after:w-full after:left-0 after:right-auto after:origin-right;
					}
				}
				> a {
					@apply lg:py-[22px] py-2 xl:px-4.5 lg:px-3.75 xl:font-semibold font-medium lg:inline-block block relative lg:border-l max-lg:border-b border-black/10 xl:text-base lg:text-sm text-lg max-lg:leading-[30px] duration-500 hover:text-primary after:content-[''] after:h-1.25 after:bg-primary after:w-0 after:absolute after:bottom-0 after:-right-px after:origin-left after:duration-700 max-lg:after:hidden;
				}
			}
			> .menu-item-has-children {
				&:hover {
					> .sub-menu {
						@apply lg:opacity-100 lg:visible lg:mt-0;
					}
				}
				> .sub-menu {
					@apply lg:opacity-0 lg:invisible lg:absolute duration-700;
				}
			}
		}
		.menu_banner {
			> .sub-menu {
				@apply bg-white lg:grid lg:grid-cols-5 hidden left-0  right-0  w-full lg:mt-5 z-9   group-hover:mt-0 flex-wrap overflow-y-auto;
				> li {
					@apply block lg:pt-7 lg:pb-6 relative align-top;
					> a {
						@apply lg:px-5 pl-4 py-1.25 max-lg:relative block max-lg:after:font-semibold max-lg:after:top-1 max-lg:after:absolute max-lg:after:left-0 capitalize;
						img {
							@apply lg:block hidden mb-2 transition-all duration-500 hover:-translate-y-2 shadow-xl aspect-[200/240] object-cover;
						}
					}
				}
			}
		}
		.menu_grid {
			> .sub-menu {
				@apply bg-white lg:flex hidden left-0 right-0 w-full lg:mt-5 z-9 duration-700 max-lg:py-2.5 max-lg:border-b border-black/10;
				> li {
					@apply block lg:pt-7.5 lg:pb-6 relative align-top flex-1 [&:not(:last-child)]:lg:border-r border-black/10;
					> a {
						@apply lg:px-5 pb-3.75 pl-3 border-b border-black/10 block font-semibold;
					}
					> .sub-menu {
						@apply lg:mt-2.5 w-full;
						> li > a {
							@apply py-2.5  lg:px-4.5 pl-3.75 block capitalize duration-500 hover:text-primary hover:bg-gray-100;
						}
					}
				}
			}
		}
		.menu_normal {
			@apply relative;
			> .sub-menu {
				@apply bg-white left-0  w-[200px] z-9  duration-700 lg:py-1.25 py-2.5;
				a {
					@apply block py-2.5 max-lg:py-1.5 lg:px-6 pl-3.75 capitalize duration-500 hover:text-primary hover:bg-gray-100;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.navbar-nav {
		> li {
			@apply px-5;
			> a {
				@apply block py-2 border-b border-black/10;
			}
			.sub-menu {
				@apply hidden pl-5 py-2 text-sm;
				li {
					@apply py-1;
				}
			}
		}
		.menu-item-has-children {
			@apply relative;
		}
		> .menu-item-has-children {
			> .li-plus {
				@apply absolute right-5 top-2.5 w-5 h-5 bg-primary flex items-center justify-center rounded text-white;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23fff' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
				}
				&.clicked {
					&::after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23fff' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
					}
				}
			}
			> .sub-menu {
				> .menu-item-has-children {
					> .li-plus {
						@apply absolute right-0 top-2 w-5 h-5  flex items-center justify-center rounded;
						&:after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23000' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
						}
						&.clicked {
							&::after {
								content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23000' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
							}
						}
					}
				}
			}
		}
	}
}

.form_subcribe {
	.form-group {
		@apply relative flex items-stretch w-full;
		input {
			@apply h-14.5 py-2.5 px-7.5 rounded-s bg-white outline-none text-xs max-w-full;
		}
		.wpcf7-submit {
			@apply btn bg-primary h-14.5 rounded-s-none py-3.75 px-6 text-lg;
		}
		.wpcf7-form-control-wrap {
			@apply w-[calc(100%-100px)];
		}
		.wpcf7-spinner {
			@apply absolute right-0 w-14 h-full;
		}
	}
}

.rank-math-breadcrumb {
	a,
	p {
		@apply text-white font-semibold;
	}
}
.form_contact {
	h3 {
		@apply font-bold text-xl mb-3;
	}
	.form-group {
		@apply mb-3;
		input {
			@apply w-full h-13.5 py-2.5 px-5 rounded bg-white outline-none border border-black/10 text-sm focus:ring-0;
		}
		textarea {
			@apply w-full py-2.5 px-5 rounded bg-white outline-none border border-black/10 text-sm focus:ring-0 h-28;
		}
	}
	input[type="submit"] {
		@apply bg-primary text-white block w-full text-center cursor-pointer transition-all duration-500 hover:opacity-90 font-bold text-lg btn;
	}
}
.contact-map {
	iframe {
		@apply block size-full max-h-full min-w-full;
	}
}
.error404 {
	header,
	footer {
		@apply hidden;
	}
}

.footer-content {
	&::after {
		background-image: url(../theme/assets/images/right.png);
	}
}

.top-footer .footer-content:last-child {
	&::after {
		background-image: none;
	}
}

/* Error */

.dz_error-405 .dz_error {
	color: #dfdfdf;
	font-size: 200px;
	font-weight: 700;
	line-height: 200px;
}
.dz_error-404 .error-head {
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.dz_error-405 .error-head {
	font-size: 50px;
	font-weight: 700;
}
.dz_error-405 .error-content {
	font-size: 21px;
	font-weight: 500;
}

.home-slider2 {
	position: relative;

	> .owl-dots {
		position: absolute;
		display: flex;
		gap: 8px;
		right: 0;
		bottom: 0;
		padding-bottom: 20px;
		padding-right: 20px;
		background-color: transparent !important;

		> .owl-dot {
			display: block;
			width: 1rem;
			height: 1rem;
			border: solid;
			border-width: 2px !important;
			border-radius: 50%;
			--tw-border-opacity: 1;
			border-color: white !important;
			background-color: transparent;
			opacity: 1;
		}

		> .owl-dot.active {
			background-color: white;
		}
	}
}
